# DB Config

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=Cluster0
MONGODB_DB=neuroturing
PORT=5001


# Email Sending Config

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info.neuroturing@gmail.com
SMTP_ADMIN=info.neuroturing@gmail.com
SMTP_PASS=your-gmail-app-password
MAIL_FROM=info.neuroturing@gmail.com
MAIL_FROM_NAME=NeuroTuring
